frontend/build
frontend/server/build
frontend/server/server.crt
frontend/server/server.csr
frontend/server/server.key
frontend/node_modules
frontend/src/component/backendConn/fbase.js

data

*.db
*.txt
*.env

react
*.env
backend/db/keys
__debug_bin*
