.modal {
  width: 100%;
  height: 100%;
  padding: 0% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.header {
  width: 100%;
  height: auto;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  column-gap: 5%;
  animation: headerdrop 0.8s ease;
}
.headertitle {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.headername {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  font-size: 2vw;
  letter-spacing: 1px;
}
.headerentry {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position: relative;
  top: 5%;
  right: 1%;
  font-weight: 500;
  width: 100%;
  font-size: 0.9vw;
  letter-spacing: 2px;
}
.headerlev {
  width: 35%;
  height: 100%;
  font-size: 3.5vw;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  position: relative;
  top: 5%;
}
.roe {
  width: 100%;
  height: 10%;
  font-size: 3vw;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: roeup 1.3s ease;
}
.horizontalfield {
  width: 90%;
  height: 10%;
  font-size: 1vw;
  column-gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: infoappear 2.2s ease;
}

.infovalue {
  width: 50%;
  height: 100%;
  font-size: 1.1vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.liquidated {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef5350;
  font-weight: 700;
  animation: infoappear 3s ease;
}
.buttonfield {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: infoappear 3s ease;
}

.buttonfield button {
  color: white;
  border: none;
  background: #333d79;
  border-radius: 15px;
  font-size: 1vw;
  width: 50%;
  height: 70%;
  letter-spacing: 1px;
}

.sendbutton:hover,
.buttonfield button:hover {
  cursor: pointer;
  background: #4b569e;
}

.comment {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.5);
}

.inner {
  width: 400px;
  height: 280px;
  padding: 15px;
  z-index: 8;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  row-gap: 3%;
  border-radius: 10px;
  background-color: #fff;
}

.closebutton {
  width: 100%;
  text-align: right;
}

.closebutton span {
  padding: 5px 3px 0px 0px;
}

.closebutton span:hover {
  cursor: pointer;
}

.title {
  font-size: large;
  font-weight: 900;
}

.score {
  font-size: xx-large;
  font-weight: 900;
}

.score span {
  padding-left: 5%;
  font-size: small;
  font-weight: 600;
}

.textinput {
  width: 70%;
  height: 30px;
  padding-left: 5px;
  margin-top: 5%;
}

.sendbutton {
  color: white;
  border: none;
  background: #333d79;
  border-radius: 5px;
  font-size: 1vw;
  width: 100px;
  height: 30px;
  letter-spacing: 1px;
  margin-top: 5%;
}

@keyframes headerdrop {
  0% {
    z-index: 9;
    position: relative;
    top: -100%;
  }
  100% {
    z-index: 9;
    position: relative;
    top: 0%;
  }
}

@keyframes roeup {
  0% {
    z-index: 10;
    position: relative;
    bottom: -100%;
  }

  100% {
    z-index: 10;
    position: relative;
    bottom: 0%;
  }
}

@keyframes infoappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
