.page {
  width: 100%;
  height: 100%;
}
.loadedpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.middle {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar {
  width: 8%;
  border-right: 1px solid black;
  height: 100%;
}
.navshow {
  width: 8%;
  transition: 1s;
}
.navclose {
  width: 0%;
  opacity: 0;
  transition: 1s;
}

.openclosebutton {
  width: 1%;
  height: 100%;
  z-index: 10;
  position: relative;
  left: 5px;
}

.closebutton,
.openbutton {
  background-color: transparent;
  border: none;
  font-size: 1.7vw;
  color: #555860;
  width: 100%;
}

.closebutton:hover {
  cursor: pointer;
}
.openbutton:hover {
  cursor: pointer;
}
.openclosebutton svg:hover {
  border-radius: 4px;
  color: #73757a;
}

.openbutton:focus,
.closebutton:focus {
  outline: none;
}

.chartinterface {
  width: 75%;
  height: 100%;
  padding-top: 10px;
  transition: 1s;
}
.widerchart {
  width: 78%;
  height: 100%;
  padding-top: 10px;
  transition: 1s;
}

.orderInput {
  height: 100%;
  border-left: 1px solid black;
}

.navshow_orderInput {
  width: 20%;
  transition: 1s;
}
.navclose_orderInput {
  width: 25%;
  transition: 1s;
}

.settingtitle {
  height: 100%;
  width: 100%;
  text-align: center;
}

@keyframes navopen {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes navclose {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes buttonhover {
  0% {
    background: #333d79;
    color: #faebef;
  }

  20% {
    background: #333d79;
    color: #faebef;
  }

  100% {
    background: #faebef;
    color: #333d79;
  }
}
