.warningdiv {
  width: 70%;
  height: 100%;
  padding: 3% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10%;
}

.warningdiv p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ef5350;
  font-size: xx-small;
  font-weight: 600;
  padding: 1%;
}

.gofreetoken {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
