.homepage {
  width: 100%;
  height: 100%;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background: linear-gradient(to right, white 30%, #faebef); */
}
.title {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: x-large;
  animation: fadein 2s ease;
}
.title h1 {
  letter-spacing: 10px;
}
.hrs {
  position: relative;
  width: 70%;
}
.informbox {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: informboxopen 1s ease;
}

.informboxtitle {
  padding: 10px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 5px;
  animation: fadein 2s ease;
}

.informbox p {
  padding: 0% 5%;
  width: 80%;
  font-size: 0.95vw;
  text-align: left;
  line-height: 2;
  animation: fadein 2s ease;
}

.links {
  width: 70%;
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  animation: fadein 2s ease;
}

.links a {
  margin: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262223;
}

.linkbutton {
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
  border: none;
  background-color: white;
  font-size: 1vw;
  border-radius: 3px;
}

.copyright {
  font-weight: 500;
  animation: fadein 4s ease;
}

.linkbutton:hover {
  animation: buttonhover 5s ease infinite alternate;
  cursor: pointer;
}

.linkbutton:active {
  box-shadow: 2px 2px 15px inset black;
  font-size: medium;
}

@keyframes buttonhover {
  0% {
    background: #333d79;
    color: #faebef;
  }

  20% {
    background: #333d79;
    color: #faebef;
  }

  100% {
    background: #faebef;
    color: #333d79;
  }
}

@keyframes buttonclick {
  0% {
    font-size: medium;
  }
  100% {
    font-size: large;
  }
}

@keyframes informboxopen {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
